:root {
  --color-primary: #a63232;
  --color-primary-light: #bf3939;
  --color-black: #0d0d0d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: var(--color-black);
}

.nav {
  font-size: 1.8rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
.nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__link:visited, .nav__link:link {
  color: var(--color-black);
}
.nav__link:hover {
  color: var(--color-primary-light);
}
.nav__link:active {
  color: var(--color-primary);
}

header,
main,
footer {
  max-width: 140rem;
  margin: 0 auto;
}

.article-container {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.header-logo {
  display: block;
  width: 7.5rem;
}

.promotion {
  margin-top: 4rem;
  padding: 4rem 8rem;
  width: 80%;
}
.promotion__header {
  font-size: 4.8rem;
  color: var(--color-primary);
  margin-bottom: 4rem;
}
.promotion__paragraph {
  font-size: 1.8rem;
  line-height: 1.6;
}

.article {
  max-width: 40rem;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary));
  padding: 4rem;
  color: #fff;
  border-radius: 2rem;
  position: relative;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
}
.article *:focus {
  outline: 1px solid #fff;
}
.article__header {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}
.article__paragraph {
  line-height: 1.4;
  margin-bottom: 4rem;
}
.article__link:visited, .article__link:link {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  color: #fff;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
}
.article__link:hover {
  color: var(--color-primary);
  background-color: #fff;
}
.article__link:active {
  color: var(--color-primary);
  background-color: #eee;
}